/server-sqlite/node_modules
/server-sqlite/ssl
/server-sqlite/*.log
/server-sqlite/server_build
/server-sqlite/server_production
/server-sqlite/logs
/server-sqlite/dev
/server-sqlite/*.db
/server-sqlite/server_ut-build
/server-sqlite/data/*
/dist
.vscode
*.env
!.template.env
*.ignore
/server-sqlite/coverage
/server-rust/migration/target
/server-rust/server/target
/server-rust/server/bindings
/server-rust/server/dev
/server-rust/**/*.db
/server-rust/**/lcov.info
/dist-sqlite
/data_prod
/server-sqlite-prod

*.code-workspace