/frontend/node_modules
/frontend/dist
/server/node_modules
/server/ssl
/server/*.log
/server/server_build/*
/server/server_production
/dist
/dist/*
.vscode
*.env
!.template.env

# used for unit test
!server/test.env