/docker_volume
/dist
.vscode
*.env
!.template.env
*.ignore
/migration/target
/server/target
/server/bindings
/server/dev
/server/**/*.db
/server/**/lcov.info
/server-sqlite-prod
/server/mutants.out
/server/mutants.out.old
*.log

*.code-workspace